.container-div {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 20px;

    height: auto;
    background-color:black;
  }
  
  .item-classd {
    text-align: center;
    color:rgba(201, 229, 255, 0.767);
    margin-right: 20px;
    margin-bottom: 5px;
    flex: 1; /* Allow items to grow and shrink equally */
  }
  

  
  .item-classd p {
    justify-content:left; /* Centre le texte horizontalement */
  }
  