.offres-list {
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0 auto;
}
.offres-title {
  text-align: left;
  margin-bottom: 20px;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}

.offres-main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.offres-container {
  flex: 2;
  margin-right: 20px;
}

.offre-details-container {
  flex: 3;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

/* Card styles */
.offre-card {
  border: 1px solid #ececec;
  padding: 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: #fff;
  cursor: pointer; /* Makes the card look clickable */
  margin-bottom: 10px;
}

.offre-card:hover {
  background-color: #f1f1f1; /* Light grey background on hover */
}

/* Selected card style */
.offre-card.selected {
  background-color: #e0f7fa; /* Light blue background when selected */
}

.offre-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align items vertically */
}

.offre-title-container {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.offre-link {
  font-size: 18px;
  font-weight: 600;
  color: #003399; /* Indeed's link color */
  text-decoration: none;
}

.offre-link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .offres-main {
    flex-direction: column;
  }

  .offres-container,
  .offre-details-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}