/* Offre.css */
.offres-list {
    padding: 20px;
  }
  
  .offres-title {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f0c030;
  }
  
  .offres-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .offre-card {
    flex: 0 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px; /* Ajustez la largeur selon vos besoins */
    margin-right: 10px; /* Espacement entre les cartes */
  }
  
  .offre-card .card-body {
    display: flex;
    flex-direction: row;
  }
  
  .offre-details {
    flex-grow: 1;
  }
  
  .offre-card .card-title {
    font-size: 1rem; /* Ajustez la taille de la police selon vos besoins */
  }
  
  .offre-card .card-subtitle {
    font-size: 0.9rem; /* Ajustez la taille de la police selon vos besoins */
  }
  
  .offre-card .card-text {
    font-size: 0.8rem; /* Ajustez la taille de la police selon vos besoins */
  }
  